<!-- TODO: Chol to add email icon & fix responsiveness -->
<footer>
  <div class="footer-wrapper">
    <div class="footer-text">
      <h4>Get involved</h4>
      <p>FOSS4G Perth is organised by a team of volunteers. Be in touch if you’d like to be involved! Everyone is welcome to join our meetings and organising team, wherever you are in Western Australia.</p>
      <p>Contact us via 
        <a href="mailto:perth-hub@foss4g-oceania.org" target="_blank">email</a>, 
        <a href="https://www.twitter.com/{{ site.twitter_username}}">twitter</a>, or join our <a href="https://maptimeoceania.slack.com/join/shared_invite/enQtNDU3MTU3ODkyMjU2LThiMWU4MjZjNjM0ZWRiMWZlNWE2OTZjYjM0ZTMzZDEwMzc5MTAzN2Q2MzMyZDMzYTMwNjc5NGIxYjY4MDRiMjM#/shared-invite/email/" target="_blank">slack channel</a>.
      </p>
      <div><a href="mailto:{{site.email}}" target="_blank">{{ site.email }}</a></div>
      <div class="social-icon-wrapper">{%- include social.html -%}</div>
    </div>
    <div>
      <div class="footer-menu">
        <!--
        <h4>Further information</h4>

        <ul>
          <li><a href="{{site.baseurl}}/code-of-conduct">Code of conduct</a></li>
          
          <li><a href="/">Another link</a></li>
          <li><a href="/">Another link</a></li>
          -->
        </ul>
      </div>
    </div>
  </div>
</footer>
