<footer>
  <div class="footer-wrapper">
    <div class="footer-text">
      <h4 id="footer">Get involved</h4>
      <p>FOSS4G Perth is organised by a team of volunteer contributors in Western Australia. Please drop us a line if you'd like to be involved! Your contribution is welcome, wherever you are in WA.</p>
      <p>Contact us via
        <a href="mailto:{{site.email}}" target="_blank">email</a>
        or the <a href="https://join.slack.com/t/geogeeks/shared_invite/zt-13fnotoqb-YkyMTmvwZEB_nDUis_30hw" target="_blank" rel="noreferrer">Geogeeks Slack</a> (#foss4g-perth channel).
      </p>
      <div class="social-icon-wrapper">{%- include social.html -%}</div>
    </div>
    <div>
      <div class="footer-menu">
        <ul>
          <li><a href="https://berlincodeofconduct.org/" target="_blank">Code of conduct</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
