<footer>
  <div class="footer-wrapper">
    <div class="footer-text">
      <h4>Get involved</h4>
      <p>FOSS4G Perth is organised by a team of volunteers. Be in touch if you’d like to be involved! Everyone is welcome to join our meetings and organising team, wherever you are in Western Australia.</p>
      <p>Contact us via
        <a href="mailto:perth-hub@foss4g-oceania.org" target="_blank">email</a>,
        <a href="https://www.twitter.com/{{ site.twitter_username}}">twitter</a>, or join our <a href="https://join.slack.com/t/geogeeks/shared_invite/zt-8xvk9gqu-g2gPNtFnLpXQS3Qq_vNt6A" target="_blank" rel="noreferrer">slack channel</a>.
      </p>
      <div class="social-icon-wrapper">{%- include social.html -%}</div>
    </div>
    <div>
      <div class="footer-menu">
        <ul>
          <li><a href="https://berlincodeofconduct.org/" target="_blank">Code of conduct</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
