<!-- TODO: Chol to fix responsive menu -->
<header class="header-outer">
	<div class="header-inner">
    <a class="navbar-brand" href="{{site.baseurl}}/">
      {{site.title}}
		</a>
		<nav class="header-navigation nav">
      <button href="javascript:void(0);" class="icon" onclick="myFunction()">
        Menu
      </button>
      <a href="{{site.baseurl}}/call-for-presentations">Call for presentations</a>
			<a href="{{site.baseurl}}/program">Program</a>
			<a href="{{site.baseurl}}/grant-program">Grant program</a>
			<a href="{{site.baseurl}}/sponsorship">Sponsorship</a>
		</nav>
	</div>
</header>
<!-- Top Navigation Menu -->
<div class="topnav">
  <div id="myLinks">
    <a href="{{site.baseurl}}/call-for-presentations">Call for presentations</a>
    <a href="{{site.baseurl}}/program">Program</a>
    <a href="{{site.baseurl}}/grant-program">Grant program</a>
    <a href="{{site.baseurl}}/sponsorship">Sponsorship</a>
  </div>
</div>
