<div id="partners-wrapper">
    <div id="partners">
      <a href="https://www.isprs.org/tc4-symposium2024/" target="_blank">
        <div class="partner-logo">
            <img src="/assets/img/partners/isprs_logo.jpg" alt="ISPRS logo" height="50px" width="auto" />
        </div>
      </a>
      <div class="partner-logo">
          <img src="/assets/img/FOSS4G_Perth_logo_black_Small.png" alt="FOSS4G Perth logo" height="30px" width="auto" />
      </div>
      <a href="https://osgeo-oceania.org/" target="_blank">
        <div class="partner-logo">
          <img src="/assets/img/partners/osgeo-oceania.webp" alt="OSGeo Oceania logo" height="50px" width="auto"/>
        </div>
      </a>  
    </div>
</div>