{% if site.data.presentations %}

    {% if site.data.presentations.Invited %}
    <div class="full-length">
        <h3>Invited Speakers</h3>

        {% for presentation in site.data.presentations.Invited %}
        <div class="presentation">
            <div class="title">{{ presentation.title }}</div>
            <div class="speaker">{{ presentation.name }} - {{ presentation.organisation}}</div>
            <div>{{ presentation.abstract}}</div>
        </div>
        {% endfor %}
    </div>
    {% endif %}


    {% if site.data.presentations.FullLength %}
    <div class="full-length">
        <h3>Full Length Presentations</h3>

        {% for presentation in site.data.presentations.FullLength %}
        <div class="presentation">
            <div class="title">{{ presentation.title }}</div>
            <div class="speaker">{{ presentation.name }} - {{ presentation.organisation}}</div>
            <div>{{ presentation.abstract}}</div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if site.data.presentations.Lightning %}
    <div class="full-length">
        <h3>Lightning Talks</h3>

        {% for presentation in site.data.presentations.Lightning %}
        <div class="presentation">
            <div class="title">{{ presentation.title }}</div>
            <div class="speaker">{{ presentation.name }} - {{ presentation.organisation}}</div>
            <div>{{ presentation.abstract}}</div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

{% endif %}