<table>
    <tr class="table-header">
        <th>Time</th>
        <th rowspan="1" colspan="2"></th>
    </tr>
    <tr>
        <td class="agenda-item">08:00</td>
        <td rowspan="1" colspan="2">
            Breakfast
        </td>
    </tr>
    <tr>
        <td class="agenda-item">08:45</td>
        <td rowspan="1" colspan="2">
            Welcome
        </td>
    </tr>
    <tr>
        <td class="agenda-item">09:00</td>
        <td rowspan="1" colspan="2">
            <div>
            <a href="https://osgeo-oceania.org/foss4g-sotm-oceania-conference/keynote-speakers/" target="_blank" rel="noreferrer">OSGeo Oceania Streamed Content</a>
            </div>
            <div class="talk-content">
            <ul>
                <li>Kate Fickas - Where are all the women?</li>
                <li>Carrol Chan and Nemaia Koto - Building an OSM Community in Fiji: The Journey and Future of OSM Fiji</li>
                <li>Tish Dhar - The History and Politics of Globe Viewers/Virtual Earths</li>
            </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td class="agenda-item">10:00</td>
        <td rowspan="1" colspan="2">
            Invited speaker: <a href="https://staffportal.curtin.edu.au/staff/profile/view/ivana-ivanova-8496edcd/" target="_blank">Ivana Ivanova</a>
            <div class="talk-content">
                <ul>
                    <li>The Open Source Geospatial Foundation – who are they and what do they have to do with you?</li>
                </ul>
            </div>
        </td>
    </tr>
    <tr class="refreshments">
        <td>10:15</td>
        <td rowspan="1" colspan="2">
            Morning Tea and Coffee
        </td>
    </tr>
    <tr>
        <td class="agenda-item">10:45</td>
        <td rowspan="1" colspan="2">
            <a href="#keynotes">Perth Hub Keynote</a>
            <div class="talk-content">
                <ul>
                    <li>Russell Keith-Magee will share how you can use open source to establish a reputation on the world stage without leaving our obscure backwater - and the pitfalls to watch for along the way.</li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td class="agenda-item">11:15</td>
        <td rowspan="1" colspan="2">
            <a href="#full-length">Perth Hub Community Presentations</a>
            <div class="talk-content">
            <ul>
                <li>Three 15-minute talks going into the details of how people are using and extending open-source geo here in WA!</li>
            </ul>
            </div>
        </td>
    </tr>
    <tr class="refreshments">
        <td>12:15</td>
        <td rowspan="1" colspan="2">
            Lunch and GIS Help Desk
            <div class="talk-content">
            <ul>
                <li>Enjoy your lunch and refuel for the afternoon session! Also, we'll be hosting a GIS help desk so drop by if you've got a problem and you're looking for a solution!</li>
            </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td class="agenda-item">13:15</td>
        <td rowspan="1" colspan="2">
            <a href="#keynotes">Perth Hub Keynote</a>
            <div class="talk-content">
                <ul>
                    <li>Femina Metcalfe and Helen Ensikat will be making the case for open source development in government, and talking about the ways they're currently using and creating open source solutions to make biodiversity data more accessible.</li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td class="agenda-item">13:45</td>
        <td rowspan="1" colspan="2">
            <a href="#full-length">Perth Hub Community Presentations</a>
            <div class="talk-content">
            <ul>
                <li>Three 15-minute talks going into the details of how people are using and extending open-source geo here in WA!</li>
            </ul>
            </div>
        </td>
    </tr>
    <tr class="refreshments">
        <td>14:45</td>
        <td rowspan="1" colspan="2">
            Afternoon Tea and Coffee
        </td>
    </tr>
    <tr>
        <td class="agenda-item">15:15</td>
        <td rowspan="1" colspan="2">
            Invited Speaker: Sam Wilson
            <div class="talk-content">
                <ul>
                    <li>An introduction to OpenStreetMap, what it is, how to contribute, and come along on Saturday 13<sup>th</sup> for an intro mapathon!</li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td class="agenda-item">15:30</td>
        <td rowspan="1" colspan="2">
            <a href="#lightning-talks">Lightning Talks</a>
            <div class="talk-content">
                <ul>
                    <li>Short-and-snappy! 10 5-minute talks covering the range of things people in WA are doing with FOSS4G!</li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td class="agenda-item">16:25</td>
        <td rowspan="1" colspan="2">
            Wrap Up
        </td>
    </tr>
    <tr>
        <td class="agenda-item">16:30</td>
        <td rowspan="1" colspan="2">
            Evening Social
            <div class="talk-content">
                Join us for an informal social event after the conference closes. Swap stories, make some new friends, and chat about what drives your passion and interest in the world of geospatial.
            </div>
        </td>
    </tr>
</table>
