<div id="schedule">
  <div class="talk-row">
      <div class="talk-time">8:30</div>
      <div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Karen Joyce"
              text="A biographer for Mother Earth, using satellites and drones as my scientific illustrators"
              link="keynotes"
              type="keynote" %}
          </div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Ahi Saipaia"
              text="From Paddock to Polygon: Co-development of open-source geospatial applications and workflows for mapping diverse cropping systems in the Pacific"
              link="keynotes"
              type="keynote" %}
          </div>
      </div>
  </div>
  <div class="talk-row break">
      <div class="talk-time">10:00</div>
      <div class="talk-summary">Morning tea</div>
  </div>
  <div class="talk-row">
      <div class="talk-time">10:30</div>
      <div class="talk-summary">Welcome to FOSS4G Perth</div>
  </div>
  <div class="talk-row">
      <div class="talk-time">10:45</div>
      <div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Andrew Dowding & Kass Boladeras"
              text="Empowering Indigenous Communities with GIS: Micro-credentialing for First Nations Land Management"
              link="guests"
              type="invited" %}
          </div>
      </div>
  </div>
  <div class="talk-row">
      <div class="talk-time">11:05</div>
      <div class="talk-group">
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Patrick Morrison"
              text="Discovering shipwrecks using open datasets"
              link="p_morrison"
              type="talk" %}
          </div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Hidenori Fujimura"
              text="Smart Maps Portable: JICA Enhances Geospatial Capacity using Raspberry Pi"
              link="h_fujimura"
              type="talk" %}
          </div>
      </div>
  </div>
  <div class="talk-row break">
      <div class="talk-time">11:45</div>
      <div class="talk-summary">Break</div>
  </div>
  <div class="talk-row">
      <div class="talk-time">12:00</div>
      <div class="talk-summary">
              {% include presentation_card.html
              presenter="Anna Ischenko"
              text="Mapping water trees and tracing travel routes in Noongar Boodjar"
              link="a_ischenko"
              type="talk" %}
      </div>
  </div>
  <div class="talk-row">
      <div class="talk-time">12:20</div>
      <div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Cholena Smart"
              text="Choosing the right open source web mapping tool"
              link="c_smart"
              type="lightning" %}
          </div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Adam Abdul Razak"
              text="Building Identification on Campus: A CityGML-Based AR Smartphone App"
              link="a_razak"
              type="lightning" %}
          </div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Nathan Regan"
              text="Critical analysis of methods used in public transport accessibility"
              link="n_regan"
              type="lightning" %}
          </div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="John Lang"
              text="QGIS for Subsea Route Analysis using Projection for Vertical Exaggeration"
              link="j_lang"
              type="lightning" %}
          </div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Chris Scott"
              text="How open source transformed MNG's PIT reports: From QGIS to Mergin Maps"
              link="c_scott"
              type="lightning" %}
          </div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Michel M. Nzikou"
              text="The geologist toolbox QGIS plugin"
              link="m_nzikou"
              type="lightning" %}
          </div>
      </div>
  </div>
  <div class="talk-row break">
      <div class="talk-time">13:00</div>
      <div class="talk-summary">Lunch</div>
  </div>
  <div class="talk-row">
      <div class="talk-time">14:00</div>
      <div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Grant Boxer"
              text="Hyperspectral satellite imagery in QGIS"
              link="g_boxer"
              type="talk" %}
          </div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Gabriel Diosan"
              text="Building the Network"
              link="g_diosan"
              type="talk" %}
          </div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Jack Green"
              text="QGIS Plugins for Mineral Exploration"
              link="j_green"
              type="talk" %}
          </div>
      </div>
  </div>
  <div class="talk-row">
      <div class="talk-time">15:00</div>
      <div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Roberto Lujan Rocha"
              text="Remote sensing for scalable weed mapping in agriculture"
              link="m_nzikou"
              type="lightning" %}
          </div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Monica Danilevicz"
              text="Exploring open-source methods for anomaly identification in agricultural fields"
              link="m_danilevicz"
              type="lightning" %}
          </div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Nimalika Fernando"
              text="Lost in indoors? Indoor mapping for navigation using FOSS4G tools"
              link="n_fernando"
              type="lightning" %}
          </div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Prabhjot Kaur Virk"
              text="Smartphone based Indoor Pathfinding Application for the Visually Impaired"
              link="p_virk"
              type="lightning" %}
          </div>
      </div>
  </div>
  <div class="talk-row break">
      <div class="talk-time">15:30</div>
      <div class="talk-summary">Afternoon tea</div>
  </div>
  <div class="talk-row">
      <div class="talk-time">16:00</div>
      <div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Alexandra Maskell"
              text="Harnessing GIS and Free Open-Source Data for Flood Risk Assessments"
              link="a_maskell"
              type="talk" %}
          </div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Ana Carvalho"
              text="Validation of 32 Years of Fire Records in the Mundaring Catchment"
              link="a_carvalho"
              type="talk" %}
          </div>
      </div>
  </div>
  <div class="talk-row">
      <div class="talk-time">16:40</div>
      <div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Diana Ong"
              text="LLM generated python for geospatial analysis in GDAL native environment"
              link="d_ong"
              type="lightning" %}
          </div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Lavender (Qingxiang) Liu"
              text="EO-Insights: Accelerating Open Earth Observation Data Management & Analysis"
              link="l_liu"
              type="lightning" %}
          </div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Nick Wright"
              text="Training sensor-agnostic deep learning models for remote sensing"
              link="n_wright"
              type="lightning" %}
          </div>
          <div class="talk-summary">
              {% include presentation_card.html
              presenter="Duncan Kinnear"
              text="Canopy Conundrum: How FOSS Helps us to See the Forest Through the Trees"
              link="d_kinnear"
              type="lightning" %}
          </div>
      </div>
  </div>
  <div class="talk-row">
      <div class="talk-time">17:15</div>
      <div class="talk-summary"><a href="#social">Social event!</a></div>
  </div>
</div>
