<div class="social-media-list">

  {% if site.email %}
  <div class="icons">
    <a title="Email" href="mailto:{{site.email}}" target="_blank" rel="noreferrer">
      <img src="/assets/img/social_media_logos/email.png" alt="Twitter" rel="noreferrer"/>
    </a>
  </div>
  {% endif %}

  {% if site.slack %}
  <div class="icons">
    <a title="Slack" href="https://join.slack.com/t/geogeeks/shared_invite/zt-13fnotoqb-YkyMTmvwZEB_nDUis_30hw" target="_blank" rel="noreferrer">
      <img src="/assets/img/social_media_logos/slack.png" alt="Slack">
    </a>
  </div>
  {% endif %}

  {% if site.linkedin %}
  <div class="icons">
    <a title="LinkedIn" href="https://www.linkedin.com/company/foss4g-perth" target="_blank" rel="noreferrer">
      <img src="/assets/img/social_media_logos/linkedin.png" alt="LinkedIn">
    </a>
  </div>
  {% endif %}

  {% if site.youTube %}
  <div class="icons">
    <a title="YouTube" href={{site.youTube}} target="_blank" rel="noreferrer">
      <img src="/assets/img/social_media_logos/youTube.png" alt="YouTube">
    </a>
  </div>
  {% endif %}
</div>
