<div class="social-media-list">

  {% if site.twitter_username %}
    <div class="icons">
      <a title="Twitter" href="https://www.twitter.com/{{ site.twitter_username}}" target="_blank" rel="noreferrer">
        <img src="/assets/img/social_media_logos/twitter.png" alt="Twitter" rel="noreferrer"/>
      </a>
    </div>
  {% endif %}

  {% if site.slack %}
  <div class="icons">
    <a title="Slack" href="https://maptimeoceania.slack.com/join/shared_invite/enQtNDU3MTU3ODkyMjU2LThiMWU4MjZjNjM0ZWRiMWZlNWE2OTZjYjM0ZTMzZDEwMzc5MTAzN2Q2MzMyZDMzYTMwNjc5NGIxYjY4MDRiMjM#/shared-invite/email" target="_blank" rel="noreferrer">
      <img src="/assets/img/social_media_logos/slack.png" alt="Slack">
    </a>
  </div>
  {% endif %}
</div>
