<div id="sponsors">

  <h3>Conference Partners</h3>
  <div id="partner">

    {% for sponsor in site.data.sponsors %}
    {% if sponsor.tier == 'Partner' %}
    <div class="img-wrapper">
      <a href="{{ sponsor.link }}" target="_blank">
        <img src="/assets/img/partners/{{sponsor.img}}" alt="{{ sponsor.name }}" />
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <!-- <div class="sponsor-block">
    <h3>Gold</h3>
    {% for sponsor in site.data.sponsors %}
    {% if sponsor.tier == 'Gold' %}
    <a href="{{ sponsor.link }}" target="_blank">
      <div id="gold" class="grid">
        <div class="img-wrapper">
          <img src="/assets/img/sponsor_logos/{{sponsor.img}}" alt="{{ sponsor.name }}" />
        </div>
        <div>
          {{sponsor.blurb}}
        </div>
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div> -->

  <!-- <div class="sponsor-block">
    <h3>Silver</h3>
    {% for sponsor in site.data.sponsors %}
    {% if sponsor.tier == 'Silver' %}
    <a href="{{ sponsor.link }}" target="_blank">
      <div id="silver" class="grid">
        <div class="img-wrapper">
          <img src="/assets/img/sponsor_logos/{{sponsor.img}}" alt="{{ sponsor.name }}" />
        </div>
        <div>
          {{sponsor.blurb}}
        </div>
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div> -->

  <!-- <div class="sponsor-block">
    <h3>Bronze</h3>
    <div id="bronze" class="grid">
      {% for sponsor in site.data.sponsors %}
      {% if sponsor.tier == 'Bronze' %}
      <div>
        <a href="{{ sponsor.link }}" target="_blank">
          <img src="/assets/img/sponsor_logos/{{sponsor.img}}" alt="{{ sponsor.name }}" />
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div> -->

</div>