<div id="sponsors">

  <!-- <h3>Gold</h3>
  <div id="gold" class="sponsor-block">
    {% for sponsor in site.data.sponsors %}
    {% if sponsor.tier == 'Gold' %}
    <div class="sponsor">
      <div class="img-wrapper">
        <img src="/assets/img/sponsor_logos/{{sponsor.img}}" alt="{{ sponsor.name }}" />
      </div>
      <div>
          <a href="{{ sponsor.link }}" target="_blank">
            Website
          </a>
            <div class="blurb">
            {{sponsor.blurb}}
          </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
  </div> -->

  <h3>Silver</h3>
  <div id="silver" class="sponsor-block">
    {% for sponsor in site.data.sponsors %}
    {% if sponsor.tier == 'Silver' %}
    <div class="sponsor">
      <div class="img-wrapper">
        <img src="/assets/img/sponsor_logos/{{sponsor.img}}" alt="{{ sponsor.name }}" />
      </div>
      <div>
          <a href="{{ sponsor.link }}" target="_blank">
            Website
          </a>
            <div class="blurb">
            {{sponsor.blurb}}
          </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <!-- <h3>Bronze</h3>
  <div id="bronze" class="sponsor-block">
    {% for sponsor in site.data.sponsors %}
    {% if sponsor.tier == 'Bronze' %}
    <div class="sponsor">
      <a href="{{ sponsor.link }}" target="_blank">
      <div class="img-wrapper">
        <img src="/assets/img/sponsor_logos/{{sponsor.img}}" alt="{{ sponsor.name }}" />
      </div>
     </a>
    </div>
    {% endif %}
    {% endfor %}
  </div> -->

  <h3>Conference Partners</h3>
  <div id="partner" class="sponsor-block">
    {% for sponsor in site.data.sponsors %}
    {% if sponsor.tier == 'Partner' %}
    <div class="sponsor">
      <a href="{{ sponsor.link }}" target="_blank">
      <div class="img-wrapper">
        <img src="/assets/img/partners/{{sponsor.img}}" alt="{{ sponsor.name }}" />
      </div>
    </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

</div>