<div id="sponsors">

  <h2>Gold</h2>
  <div id="gold" class="sponsor-wrapper">
    {% for sponsor in site.data.sponsors %}
    {% if sponsor.tier == 'Gold' %}
    <div class="sponsor">
      <a href="{{ sponsor.link }}" target="_blank">
        <div class="img-wrapper">
          <img src="/assets/img/logos/{{sponsor.img}}" alt="{{ sponsor.name }}" />
        </div>
        <div>
          <div class="blurb">
            {{sponsor.blurb}}
          </div>
        </div>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <h2>Silver</h2>
  <div id="silver" class="sponsor-wrapper">
    {% for sponsor in site.data.sponsors %}
    {% if sponsor.tier == 'Silver' %}
    <div class="sponsor">
      <a href="{{ sponsor.link }}" target="_blank">
        <div class="img-wrapper">
          <img src="/assets/img/logos/{{sponsor.img}}" alt="{{ sponsor.name }}" />
        </div>
        <div>
          <div class="blurb">
            {{sponsor.blurb}}
          </div>
        </div>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <h2>Bronze</h2>
  <div id="bronze" class="sponsor-wrapper">
    {% for sponsor in site.data.sponsors %}
    {% if sponsor.tier == 'Bronze' %}
    <div class="sponsor">
      <a href="{{ sponsor.link }}" target="_blank">
        <div class="img-wrapper">
          <img src="/assets/img/logos/{{sponsor.img}}" alt="{{ sponsor.name }}" />
        </div>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <h2>Conference Partners</h2>
  <div id="partner" class="sponsor-wrapper">
    {% for sponsor in site.data.sponsors %}
    {% if sponsor.tier == 'Partner' %}
    <div class="sponsor">
      <a href="{{ sponsor.link }}" target="_blank">
        <div class="img-wrapper">
          <img src="/assets/img/partners/{{sponsor.img}}" alt="{{ sponsor.name }}" />
        </div>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

</div>