{% if site.data.supporters %}


<div class="inner-support">
  <h2>Conference partner</h2>

  {% if site.data.supporters.OSGeo %}
  <div class="supporter-group"> 
    <div class="supporters osgeo">
    {% for supporter in site.data.supporters.OSGeo %}
      <div>
        <a href="{{ supporter.url }}" target="_blank"><img src="/assets/img/sponsor_logos/{{ supporter.logo }}" title="{{supporter.name}}"></a>
      </div>
    {% endfor %}
    </div>
  </div>
{% endif %}

<h2>Supported by</h2>


{% if site.data.supporters.Tier3 %}
  <div class="supporter-group "> 
    <div class="supporters tier3">
    {% for supporter in site.data.supporters.Tier3 %}
      <div>
        <a href="{{ supporter.url }}" target="_blank"><img src="/assets/img/sponsor_logos/{{ supporter.logo }}" title="{{supporter.name}}"></a>
      </div>
    {% endfor %}
    </div>
  </div>
{% endif %}

{% if site.data.supporters.Tier2 %}
  <div class="supporter-group"> 
    <div class="supporters tier2">
    {% for supporter in site.data.supporters.Tier2 %}
      <div>
        <a href="{{ supporter.url }}" target="_blank"><img src="/assets/img/sponsor_logos/{{ supporter.logo }}" title="{{supporter.name}}"></a>
      </div>
    {% endfor %}
    </div>
  </div>
{% endif %}

{% if site.data.supporters.Tier1 %}
  <div class="supporter-group"> 
    <div class="supporters tier1">
    {% for supporter in site.data.supporters.Tier1 %}
      <div>
        <a href="{{ supporter.url }}" target="_blank"><img src="/assets/img/sponsor_logos/{{ supporter.logo }}" title="{{supporter.name}}"></a>
      </div>
    {% endfor %}
    </div>
  </div>
{% endif %}

<!-- <h3>Additional thanks to</h3> -->


{% if site.data.supporters.Other %}
  <div class="supporter-group"> 
    <div class="supporters other"> 
    {% for supporter in site.data.supporters.Other %}
      <div>
        <a href="{{ supporter.url }}" target="_blank"><img src="/assets/img/sponsor_logos/{{ supporter.logo }}" title="{{supporter.name}}"></a>
      </div>
    {% endfor %}
    </div>
  </div>
{% endif %}

</div>

{% endif %}
