
@charset "utf-8";

@font-face {
	font-family: "BigShouldersDisplayMedium";
	src: url("../fonts/BigShoulders/BigShouldersDisplay-Medium.ttf");
}

@font-face {
	font-family: "BigShouldersDisplaySemiBold";
	src: url("../fonts/BigShoulders/BigShouldersDisplay-SemiBold.ttf");
}



// base colors
$charcoal: #1c2028;
$midgrey: #797979;
$lightgrey: #eeeeee;
$offwhite: #f9f9f9;
$white: #ffffff;

$color_one: #053C5A;
$color_two: #0B6B7B;
$color_three: #F3B646;
$color_four: #6b0505;

$schedule_lightning: #f7b733;
$schedule_talk: #4abdac;
$schedule_keynote: #fc4a1a;
$schedule_invited: #fc4a1a;

// fonts
$primary: 'Montserrat', sans-serif;
$display: "BigShouldersDisplayMedium", sans-serif;
$display-bold: "BigShouldersDisplaySemiBold", sans-serif;
