
// Colors

// base colors
$charcoal: #1c2028;
$offwhite: #f9f9f9;
$white: #ffffff;


// logo colors
$logo_one: #2e6ca4;
$logo_two: #dbac39;

// contract colors
$color_one: #C84C09;
$color_two: #89023E;
$color_three: #03B5AA;

// fonts
$primary: 'Open Sans', sans-serif;
$display: 'Roboto', sans-serif;
