
// Colors

// base colors
$charcoal: #1c2028;
$offwhite: #f9f9f9;
$white: #ffffff;


// logo colors
$logo_one: #2e6ca4;
$logo_two: #dbac39;

// contract colors
// $color_one: #C84C09;
// $color_two: #89023E;
// $color_three: #8DE969;

$color_one: #4C1E4F;
$color_two: #9E2B25;
$color_three: #03B5AA;

// $color_one: #820263;
// $color_two: #D90368;
// $color_three: #03B5AA;


// $color_one: #92140C;
// $color_two: #BE5A38;
// $color_three: #2A9D8F;

// fonts

$primary: 'Open Sans', sans-serif;
$display: 'Roboto', sans-serif;
