---
---
@import 'variable';

html {
  scroll-behavior: smooth;
}

body {
  font-family: $primary;
  font-size:  16px;
  line-height: 2rem;
  color: $charcoal;

}

.wrapper {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.5rem;
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: $color_one;
  line-height: 3.4rem;
  font-weight: 400;

}
h2 {
  font-weight: 400;
  font-size: 1.5rem;
  color: $color_one;
}

h3 {
  font-size: 1.3rem;
  font-weight: 300;
  color: $color_two;
}

h4 {
  font-size: 1.3rem;
}

.text-sm {
  font-size: 0.875rem;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 500;
}
.color-two {
  color: $color_two;
}

a {
  color: $color_four;
  text-decoration: none;
  &:visited {
    color: $color_four;
  }
}

li {
  padding-bottom: 5px;
  // line-height: 1.5rem;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: $color_four;
  margin: 50px 0;
}

.divider-light {
  height: 2px;
  width: 100%;
  background-color: $lightgrey;
  margin: 50px 0;
}

.button_wrapper {
  margin-top: 2rem;
  &.center {
    text-align: center;
  }
}

.submit-button {
  display: flex;
  justify-content: center;
  text-align: center;
}

// buttons
a.btn, button{
	background-color:$color_three;
    border: 2px solid $white;
	cursor:pointer;
	color:$white;
	font-size: 1.125rem;
	padding:0.5rem 1.25rem;
  text-decoration:none;
  font-weight: bold;
}
.btn:hover {
  background-color:$white;
  border: 2px solid $color_three;
	color:$color_three;
}
.btn:active {
	position:relative;
	top:1px;
}

.inner-regobutton {
  margin: 20px 0;
  text-align: center;
}


// header

nav {
  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
  }
}

a.navbar-brand {
  color: $color_two;
  font-size: 1.8rem;
  padding: 0.2rem 0;
  font-family: $primary;
}

:root {
	--header-outer-height: 110px;
	--header-inner-height: 70px;
	--header-height-difference: calc(
		var(--header-outer-height) - var(--header-inner-height)
	);
}
header {
	height: var(--header-inner-height);
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
  flex-shrink: 0;
  z-index: 10;
  background-color: white;
  border-bottom: thin solid grey;
}

.anchor-offset {
  position: relative;
  top: calc(var(--header-inner-height) * -1);
  visibility: hidden;
}

.navbar {
  height: var(--header-inner-height);
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hamburger {
  display: none;
}

#header.header_small {
  box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.1);
  border: none;
}

.nav-menu a {
	color: inherit;
	margin-left: 1.75rem;
	position: relative;
  padding: 0.25rem 0;
}

.nav-menu  a:hover:after {
	transform: scalex(1);
}

.nav-menu  a:after {
	transition: 0.25s ease;
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: $color_two;
	transform: scalex(0);
	position: absolute;
	bottom: -2px;
	left: 0;
}

.nav-menu a.active:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: $color_one;
	position: absolute;
	bottom: -2px;
	left: 0;
  right: 0;
  transform: none;
  transition: none;
}

.registration-button {
  background: $color_three;
  color: white;
  padding: 5px 20px;
  text-wrap: nowrap;
  font-weight: 500;
  text-transform: uppercase;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}


.parallax {
  background-image: url("/assets/img/chris-king-unsplash-2.webp");
  min-height: 400px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: black;
  .credit {
    font-size: 0.6rem;
    display: flex;
    justify-content: end;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.conference {
  text-align: center;
  position: absolute;
  color: white;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  max-width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: radial-gradient(rgba(0,0,0,.7) 15%, rgba(39,39,39,.5) 35%, transparent 70%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $display;
  .hero-name {
    font-size: 8rem;
    line-height: 9rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .hero-place {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: .5rem;
  }
  .hero-date {
    font-size: 2.0rem;
    line-height: 4rem;
    font-weight: 500;
    letter-spacing: .5rem;
  }
}

footer {
  background-image: url("/assets/img/chris-king-unsplash.webp");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}


.on-this-page {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 2rem;
  // align-items: center;
  line-height: 1.2rem;
  margin-bottom: 3rem;
  position: relative;
  // left: 20px;
  .page-menu {
    padding: 1rem 0;
  }
  img {
    max-width: 100%;
    margin: 0;
    height: 200px;
    width: 200px
  }
}
//content

.grid {
  display: grid;
  gap: 2rem;
  // align-items: center;
  &.grid-cols-2 {
    &.img-right {
      grid-template-columns: auto 40%;
    }
    &.img-left {
      grid-template-columns: 40% auto;
    }
  }
  &.people-grid {
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    .person {
      display: flex;
      flex-direction: column;
      height: 100%;
      img {
        margin-bottom: 10px;
      }
    }
  }
}

.responsive-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
}

main {
  margin: 0 auto;
  img {
    max-width: calc(100% - 12px);
    border: 6px double $midgrey;
    margin: 30px 0;
  }
}

.main-content {
  margin-bottom: 2rem;
  padding: 0 20px;
  max-width: 1000px;
  margin: 0 auto;
}

// home

.home {
  margin-top: 50px;
}
.news-box-wrapper {
  border-top: 4px double $color_four;
  border-bottom: 4px double $color-four;
  max-width: 1000px;
  margin: 0 auto 50px;
  .news-box {
    padding: 20px 0 30px;
    margin: 30px auto;
    font-size: 1.2rem;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  }
}


.supporter-wrapper {
  a {
    color: $charcoal;
    &:visited {
      color: $charcoal;
    }
  }
  margin: 5rem 0;
}

.supporter-group {
  background: $white;
  margin-bottom: 4rem;
}

.supporters {
  display: grid;
  grid-gap: 4rem;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  div {
    justify-self: center;
  }
  img {
    max-width: 100%;
    max-height: 200px;
  }
  &.partner {
    grid-template-columns: repeat(3, 1fr);
  }
  &.tier3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &.tier2 {
    grid-template-columns: repeat(4, 1fr);
  }
}


footer {
  background-color: $charcoal;
  color: $white;
  padding: 20px;

  ul {
    padding-left: 1rem;
  }
  li {
    list-style-type: none;
  }
  .footer-wrapper {
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 3rem;
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    .footer-menu {
      a {
        color: $color_three;
        &:hover {
          text-decoration: underline;
        }
        &:visited {
          color: $color_three;
        }
      }
      ul {
        text-align: right;
      }
    }
    a {
      color: $color_three;
      &:hover {
        text-decoration: underline;
      }
      &:visited {
        color: $color_three;
      }
    }
    .social-media-list {
      display: flex;
      gap: 2.5rem;
      margin-top: 2.0rem;
        .icons a img {
          height: 30px;
        }
    }
  }
}

#sponsor-package {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
  table-layout:fixed;
  width:100%;
  td, th {
    border: 1px solid #ddd;
    padding: 4px 16px 4px 8px;
  }
  
  tr:nth-child(odd){background-color: #f0f0f0;}
    
  th {
    text-align: left;
    color: $color_two;
    background-color: white;
  }
}

.table-sub {
  font-size: 0.9rem;
  font-style: italic;
}


// keynotes

.keynote-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.keynote-img {
  border-radius: 50%;
  min-width: 150px;
  max-width: 150px;
  min-width: 150px;
  max-width: 150px;
}


// Sponsors
#sponsors {
  margin-bottom: 4rem;
  .sponsor {
    border: 2px solid lighten($midgrey, 40%);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    a .blurb {
      color: $charcoal;
      font-size: 0.75rem;
      line-height: 1rem;
      &:visited {
        color: $charcoal;
      }
    }
    img {
      border:none;
      margin: 0;
    }
    .img-wrapper {
      width: auto;
      display: grid;
      align-items: center;
      justify-content: center;
    }
  }
  .sponsor-wrapper {
    display: grid;
    grid-gap: 2rem;
  }
  #gold {
    grid-template-columns: 1fr 1fr;
    img {
      max-height: 200px;
      margin: 0 auto;
    }
  }
  #silver {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .img-wrapper {
      height: 150px;
      margin: 0 auto;
    }
    img {
      max-height: 80%;
      margin: 0 auto;
    }
  }
  #bronze {
    grid-template-columns: repeat(6, 1fr);
    .img-wrapper {
      display: grid;
      align-items: center;
      justify-content: center;
      height: 100%;
      img {
        margin: 0 auto;
      }
    }
    .sponsor {
      border: none;
      padding: 0;
    }
  }
  #partner {
    grid-template-columns: 1fr 1fr;
    img {
      max-height: 150px;
      margin: 0 auto;
    }
  }
}

#signup-wrapper {
  margin-top: 40px;
  background-color: $color_two;
  padding: 10px 0;
}

#partners-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8rem;
  padding: 10px 0;
}

#partners {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  .partner-logo {
    display: flex;
  }
}

/* Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Modal Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.social-program {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 2rem;
  img {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
    line-height: 2.8rem
  }
  footer .footer-wrapper {
    grid-template-columns: 1fr;
    .footer-menu ul {
      text-align: left;
    }
  }
  .supporters {
    &.partner {
        grid-template-columns: 1fr;
      }
    &.tier3 {
      grid-template-columns: 1fr;
    }
    &.tier2 {
      grid-template-columns: 1fr;
    }
    &.tier1 {
      grid-template-columns: repeat(2, 1fr);
    }
    &.other {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .parallax {
    min-height: 300px;
  }
  .conference {
    min-height: 300px;
    .hero-name {
      font-size: 5rem;
      line-height: 6rem;
    }
    .hero-place {
      font-size: 1.2rem;
      line-height: 2rem;
    }
    .hero-date {
      font-size: 2.0rem;
      line-height: 4rem;
    }
  }

  .grid {
    &.grid-cols-2 {
      grid-template-columns: 1fr;
    }
    &.grid-cols-2.img-right,
    &.grid-cols-2.img-left {
      grid-template-columns: 1fr;
    }
    &.people-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .sponsor-group {
    a {
      color: $charcoal;
    }
    .sponsors {
      display: block;
    }
  }
  .submit-button{
    display: flex;
    justify-content: center;
  }
  // Sponsors
  #sponsors {
    .sponsor-wrapper {
      margin-top: 10px;
      gap: 1rem;
    }
    #partner {
      grid-template-columns: 1fr;
      .img-wrapper {
        height: 100px;
        img {
          max-height: 100px;
        }
      }
    }
    #gold {
      grid-template-columns: 1fr;
      .img-wrapper {
        height: 100px;
        img {
          max-height: 100px;
        }
      }
    }
    #silver {
      grid-template-columns: 1fr;
      .img-wrapper {
        height: 100px;
        img {
          max-height: 100px;
        }
      }
    }
    #bronze {
      grid-template-columns: 1fr 1fr;
      .img-wrapper {
        height: 100px;
        img {
          max-height: 100px;
        }
      }
    }
  }
  .modal-content {
    margin: 15% 0;
  }
  #sponsor-package {
    font-size: 0.8rem;
  }
  .on-this-page {
    display: none;
  }
  .social-program {
    gap: 1rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 799px) {
  .hide-on-small { display: none;}
}

@media screen and (min-width: 800px) {
  .show-on-small { display: none;}
}

@media only screen and (max-width: 1020px) {

  header {
    top: 0;
  }

  footer {
    background-image: none;
  }

  .navbar {
    height: var(--header-outer-height);
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    padding: 0;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
  }

  .nav-menu a {
    margin-left: 0rem;
  }

  .nav-menu.active {
    right: 0;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  }

  .nav-item {
    margin: 1rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    background: $white;
    border: none;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

}
