---
---
@import 'variable';

body {
  font-family: $primary;
  font-size:  16px;
  line-height: 2rem;
  color: $charcoal;

}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: $display;
  font-weight: 300;
  font-size: 2.8rem;
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: $color_one;
  line-height: 3.4rem

}
h2 {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 2.0rem;
  line-height: 2.8rem

}

h3 {
  color: $color_two;
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  font-weight: 500;
  margin-top: 2rem;
  line-height: 2rem

}

h4 {
  font-size: 1.3rem;
}

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2.2rem;
      line-height: 2.8rem
    }
  }

a {
  color: $color_three;
  text-decoration: none;
  &:visited {
    color: $color_three;
  }
}

.button_wrapper {
  margin-top: 2rem;
  &.center {
    text-align: center;
  }
}

// buttons
a.btn {
	background-color:$color_three;
    border: 2px solid $white;
	cursor:pointer;
	color:$white;
	font-size: 1.125rem;
	padding:0.5rem 1.25rem;
  text-decoration:none;
  font-weight: bold;
}
.btn:hover {
  background-color:$white;
  border: 2px solid $color_three;
	color:$color_three;
}
.btn:active {
	position:relative;
	top:1px;
}

// header

nav {
  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
  }
}

a.navbar-brand {
  color: $color_two;
  font-size: 1.8rem;
  padding: 0.2rem 0;
  font-family: 'Roboto';
}


:root {
	--header-outer-height: 110px;
	--header-inner-height: 70px;
	--header-height-difference: calc(
		var(--header-outer-height) - var(--header-inner-height)
	);
}
header {
	height: var(--header-outer-height);
	position: sticky;
	top: calc(
		var(--header-height-difference) * -1
	); /* Multiply by -1 to get a negative value */
	display: flex;
	align-items: center;
  flex-shrink: 0;
  z-index: 10;
  background-color: white;
  border-bottom: thin solid grey;
}

.navbar {
  height: var(--header-inner-height);
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hamburger {
  display: none;
}

#header.header_small {
  box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.1);
  border: none;
}

.nav-menu a {
	font-size: 1.125rem;
	color: inherit;
	margin-left: 1.75rem;
	position: relative;
  font-weight: 500;
  padding: 0.25rem 0;
}

.nav-menu  a:hover:after {
	transform: scalex(1);
}

.nav-menu  a:after {
	transition: 0.25s ease;
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: $color_two;
	transform: scalex(0);
	position: absolute;
	bottom: -2px;
	left: 0;
}

.nav-menu a.active:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: $color_one;
	position: absolute;
	bottom: -2px;
	left: 0;
  right: 0;
  transform: none;
  transition: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media only screen and (max-width: 1020px) {

    header {
      top: 0;
    }

    .navbar {
      height: var(--header-outer-height);
    }

    .nav-menu {
      position: fixed;
      right: -100%;
      padding: 0;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
    }

    .nav-menu a {
      margin-left: 0rem;
    }

    .nav-menu.active {
      right: 0;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    }

    .nav-item {
      margin: 1rem 0;
    }

    .hamburger {
      display: block;
      cursor: pointer;
      background: $white;
      border: none;
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

}

//content

.responsive-wrapper {
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
}

main {
  margin: 0 auto;
  padding: 0 20px;
}

.main-content {
  margin-bottom: 2rem;
}

// home
.intro {
  font-size: 1.2rem
}

.intro-grid {
  display: flex;
  gap: 10rem;
  margin: 5rem;
  .logo {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    height: 100%;
    justify-content: center;
    .tagline {
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
      color: $logo_two
      }
    img {
      max-width: 350px;
      min-width: 50%;
      margin-left: 2rem;
    }

  }
}

@media (max-width: 768px) {
  .intro-grid {
    display: block;
    margin: 1rem 0;
    text-align: center;
    .logo {
      margin: 0 auto 1.5rem;

    }
    img {
      margin: 0 auto !important;
    }
  }
}

.label {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 2rem;
  &:first-of-type {
    margin-top: 0;
  }
}

// supporters

.supporter-wrapper {
  a {
    color: $charcoal;
    &:visited {
      color: $charcoal;
    }
  }
  margin: 5rem 0;
}

.supporter-group {
  background: $white;
  margin-bottom: 4rem;
}

.supporters {
  display: grid;
  grid-gap: 4rem;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  div {
    justify-self: center;
  }
  img {
    max-width: 100%;
    max-height: 200px;
  }
  &.partner {
    grid-template-columns: repeat(3, 1fr);
  }
  &.tier3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &.tier2 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.sponsor-group {
  a {
    color: $charcoal;
  }
  .sponsors {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 64px;
    margin-bottom: 62px;
    padding: 30px 30px 40px 30px;
    border: thin solid white;;

    &:hover {
      box-shadow: 0 0 10px #e3e3e3;
      border: thin solid $color_three;
    }
    h4 {
      margin-top: 0;
      margin-bottom: 1rem;
    }
    .image-wrapper {
      align-self: center;
    }
    img {
      width: 100%;
    }

  }
}



@media (max-width: 768px) {
  .supporters {
    &.partner {
        grid-template-columns: 1fr;
      }
    &.tier3 {
      grid-template-columns: 1fr;
    }
    &.tier2 {
      grid-template-columns: 1fr;
    }
    &.tier1 {
      grid-template-columns: repeat(2, 1fr);
    }
    &.other {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .sponsor-group {
    a {
      color: $charcoal;
    }
    .sponsors {
      display: block;
    }
  }
}

footer {
  background-color: $charcoal;
  color: $white;
  padding: 20px;

  ul {
    padding-left: 1rem;
  }
  li {
    list-style-type: none;
  }
  .footer-wrapper {
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 3rem;
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    .footer-menu {
      a {
        color: $color_three;
        &:hover {
          text-decoration: underline;
        }
        &:visited {
          color: $color_three;
        }
      }
      ul {
        text-align: right;
      }
    }
    a {
      color: $color_three;
      &:hover {
        text-decoration: underline;
      }
      &:visited {
        color: $color_three;
      }
    }
    .social-media-list {
      display: flex;
      gap: 2.5rem;
      margin-top: 2.0rem;
        .icons a img {
          height: 30px;
        }
    }
  }
  // 1 column footer on mobile devices
  @media screen and (max-width: 768px) {
    .footer-wrapper {
        grid-template-columns: 1fr;
        .footer-menu ul {
          text-align: left;
        }
    }
  }
}

// call for submission buttons

.submit-button{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .submit-button{
    display: block;
    margin: 0 auto;
  }
}

// submission forms

.details-submission {
    border: 1px solid $white;
    border-radius: 4px;
    padding: .5em .5em 0;
  	background-color: $white;
}

.summary-submission {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
  	color: $color_three;
}

.details-submission[open] {
    padding: .5em;
}

.details-submission[open] summary-submission {
    border-bottom: 1px solid $white;
    margin-bottom: .5em;
}

// keynotes

@media screen and (min-width: 0px) and (max-width: 799px) {
    .hide-on-small { display: none;}
}

@media screen and (min-width: 800px) {
    .show-on-small { display: none;}
}

.keynote-flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.keynote-flex-inner-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.keynote-flex-item-left {
    padding: 10px;
    flex: 50%;
}
    
.keynote-flex-item-right {
    padding: 10px;
    flex: 50%;
}

.keynote-img {
    border-radius: 50%;
    min-width: 150px;
    max-width: 150px;
    min-width: 150px;
    max-width: 150px;
}

.keynote-flex-container-mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
}
 
.keynote-flex-inner-container-mobile {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.presentation {
  margin-bottom: 50px;
  .speaker {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .title {
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
}